# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# data
data/*

# artifacts
embeddings/*
index/*
features/*
figures/*
notebooks/*
results/*

log/*
log_tensorboard/*

# checkpoints
ranker/checkpoints/*
ranker/recbole/saved/*
src/encoder/checkpoints/*
src/ranker/recbole/checkpoints/*
src/ranker/torch/checkpoints/*

# miscellaneous
archive/*

ranker/recbole/configs/*.yaml
ranker/recbole/services/*.yaml
ranker/services/*.yaml
ranker/configs/*/*.yaml