# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/*
embeddings/*
index/*
features/*
figures/*
notebooks/*
results/*
src/embeddings/models/*
ranker/checkpoints/*
encoder/checkpoints/*
ranker/recbole/saved/*
log/*
log_tensorboard/*